<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới sinh viên</title>
</head>
<body>
    <h1>Thêm mới sinh viên</h1>
    <form action="" method="post">
        {% csrf_token %}
        <!-- Nhap ma nhan vien moi: <input type="text" name="ma_nv" id="">
        Nhap ten nhan vien moi: <input type="text" name="ten_nv" id=""> -->
        
        Nhập tên department: <input type="text" name="Departments_name">
        <input type="submit" name="create" value="Taọ mới">
       </form>
</body>
</html>