<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/trangchu.css' %}">
</head>
<body>
    <div class="main">
        <div class="header">
            <ul class="nav">
                <li><a href="{% url 'home'  %}">Sach</a></li>
                <li><a href="{% url 'nhanvien'  %}">Nhan vien</a></li>
                <li><a href="{% url 'sinhvien'  %}">Sinh vien</a></li>
                
            </ul>
        </div>
        <div class="content">
            <h1 class="content_heading">NHÂN VIÊN TRONG THƯ VIỆN</h1>
            <table class="table" >
                <tr>
                   
                    <th>Mã nhân viên</th>
                    <th>Tên nhân viên</th>  
                </tr>
                {% for nhanvien in nhanviens%}
                <tr>
                    <td>{{nhanvien.ma_nv}}</td>
                   <td>{{nhanvien.ten_nv}}</td>
                   
                   <td> <a href="{% url 'suanhanvien' nhanvien.ma_nv %} ">Sửa</a></td>
                   <td> <a href="{% url 'xoanhanvien' nhanvien.ma_nv %} ">Xóa</a></td>
                </tr>
                {% endfor %}
            </table>
            <a class="add" href="{% url 'themnhanvien'  %}">Thêm</a>
        </div>
        <div class="footer">
            Copyright © 2020 Trường Đại học Mỏ - Địa chất <br>Version: MOHN-2024.09G.33 <br>Design byAQTECH.VN
        </div>
    </div>
</body>
</html>