<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/trangchu.css' %}">
</head>
<body>
    <div class="main">
        <div class="header">
            <ul class="nav">
                <li><a href="{% url 'home'  %}">Sach</a></li>
                <li><a href="{% url 'nhanvien'  %}">Nhan vien</a></li>
                <li><a href="{% url 'sinhvien'  %}">Sinh vien</a></li>
                
            </ul>
        </div>
        <div class="content">
            <h1 class="content_heading">SINH VIÊN ĐÃ MƯỢN SÁCH TRONG THƯ VIỆN</h1>
            <table class="table" >
                <tr>
                    <th>Mã sinh viên</th>
                    <th>Ngày mượn</th>
                    <th>Hạn trả</th>
                </tr>
                {% for sinhvien in sinhviens %}
                <tr>
                    <td>{{sinhvien.ma_sv}}</td>
                    <td>{{sinhvien.ngay_muon|date:"d/m/Y"}}</td>
                    <td>{{sinhvien.han_tra|date:"d/m/Y"}}</td>
                    <td><a href="{% url  'suasinhvien' sinhvien.ma_sv %}">Sửa</a></td>
                    <td><a href="{% url 'xoasinhvien' sinhvien.ma_sv %}">Xóa</a></td>

                </tr>
                {% endfor %}
            </table>
            <a class="add" href="{% url 'themsinhvien'  %}">Thêm</a>
        </div>
        <div class="footer">
            Copyright © 2020 Trường Đại học Mỏ - Địa chất <br>Version: MOHN-2024.09G.33 <br>Design byAQTECH.VN
        </div>
    </div>
</body>
</html>