<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{ % stactic 'css/form.css'%}">
    <style>
        
    </style>
</head>
<body>
    <div class="main">
        <div class="title" >
            ĐĂNG KÝ THẺ THƯ VIỆN
        </div>
        <div class="content">
            <div class="infor">
                <div class="name">
                    <b>Mã thẻ:</b> <br> 
                    <input type="text" size="50px" name="ma_the">
                </div>
                
                <div class="name">
                    <b>Mã sinh viên:</b> <br> 
                    <input type="text" size="50px" name="ma_sv">
                </div>
                
                
                
                <div class="name"></div>
                    <b>Chọn loại thẻ:</b> <br> 
                    <select>
                        <option>Vip</option>
                        <option>Prime</option>
                      
                    </select>
                
                <div class="robot">
                    
                    <table>
                        <tr>
                            <td><input type="checkbox"> I'm not a robot<td>
                                
                            <td class="img">
                                <img src="../img/logo_48.png" width="30" height="30">
                                <br>
                               <font size="2"> reCAPTCHA</font>
                                <br>
                               <font size="1"> Privacy - Terms</font>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="submit",>
                    Đăng kí ngay
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>